// Layout
$primary-color: #ffd366;
$secondary-color:#424242;

// Result
$result-light-color:#31BAF9;
$result-normal-color:#86D73F;
$result-heavyLV0-color:#FF982D;
$result-heavyLV1-color:#FF6C03;
$result-heavyLV2-color:#FF6C03;
$result-heavyLV3-color:#FF1200;